.melhorar-botao {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 12px;
    border-radius: 5px;
}
.melhorar-botao:hover {
    background-color: #45a049;
}
